{% extends "demo.html" %}
{% block main %}
<h2>Application Description</h2>
<p>This is an R-based model for predicting which food establishments are at most risk for the types of violations most likely to spread food-borne illness. Chicago Department of Public Health staff use these predictions to prioritize inspections. During a two month pilot period, we found that that using these predictions meant that inspectors found critical violations much faster. This repository contains a training and test set, along with the data used in the current model.</p>
<p>Available from: <a target="_blank" href="https://github.com/Chicago/food-inspections-evaluation">https://github.com/Chicago/food-inspections-evaluation</a></p>
{{ super() }}
{% endblock %}
