{% extends "demo.html" %}
{% block main %}
<h2>Application Description</h2>
<p>This Python-based workflow prepares model input files for a specified water-shed area, including the watershed grid, terrain data, land cover data, and climate data.  The watershed grid is the first step of inputs preparation and the terrain data, land cover data and climate data are prepared based on the watershed grid.  The user only needs to run this python file to create the model inputs. The Hydrogate (see google drive file "hydrogate.py") python client library is used to talk to HydroDS system. A user can write python code to call functions in Hydrogate to create model inputs and document a model preparation workflow (see google drive file "logan_ueb_input.py"). In order to use HydroDS web services, the user needs to contact the system administrator to obtain an account.</p>
<p>Available from: <a target="_blank" href="http://hydrology.usu.edu/dtarb/snow/snow.html">http://hydrology.usu.edu/dtarb/snow/snow.html</a></p>
{{ super() }}
{% endblock %}
