{% extends "demo.html" %}
{% block main %}
<h2>Application Description</h2>
<p>The VIC model requires significant effort to prepare its input data. This workflow is used to prepare the input data for the VIC model. The workflow used to generate the meteorological and land surface inputs datasets for a VIC model simulation. This workflow consists of a sequence of 15 data processing steps with each step requiring input datasets for different sources and with unique data models (Billah et al., 2016).  These scripts are written with different programming languages including Fortran77, C, and C++. Shell scripts are used throughout the workflow to execute these steps and perform other commands required to complete the data processing tasks. The data processing workflow for creating the input files for VIC is complex requiring scripts written over years by various student researchers and sometimes requiring now out-of-date compilers in order to execute the analysis (e.g. FORTRAN 77).</p>
<p>Available from: <a target="_blank" href="https://github.com/uva-hydroinformatics-lab/VIC_Pre-Processing_Rules">https://github.com/uva-hydroinformatics-lab/VIC_Pre-Processing_Rules</a></p>
{{ super() }}
{% endblock %}
